<div class="container my-5">
  <div class="row">
    <div class="col-lg-12">
      <div class="content shadow-sm p-5 mb-5 bg-white rounded">
        <h1 class="text-center mb-4">Добро пожаловать</h1>
        <p class="lead">Мы рады приветствовать тебя на странице нашего курса по копирайтингу, который обещает быть не просто обучением, но настоящим погружением в мир текстов и маркетинга.</p>
        
        <!-- Course Outline -->
        <h2 class="mt-5">Профессия копирайтер за месяц с нуля</h2>
        <!-- Week 1 -->
        <h3>Неделя 1: Основы копирайтинга и понимание аудитории (10 часов)</h3>
        <ul>
          <li>Введение в копирайтинг: определение и цели.</li>
          <li>Разбор типов копирайтинга: SEO, SMM, контент-маркетинг.</li>
          <li>Методы сегментации аудитории и создание портретов.</li>
          <li>Маркетинговые исследования: инструменты для анализа рынка.</li>
        </ul>
        
        <!-- Week 2 -->
        <h3>Неделя 2: Навыки написания и SEO-оптимизация (10 часов)</h3>
        <ul>
          <li>Креативное письмо: заголовки, вводные абзацы, призывы к действию.</li>
          <li>Основы SEO и создание SEO-дружественного контента.</li>
          <li>Структурирование контента: статьи, посты, реклама.</li>
        </ul>
        
        <!-- Week 3 -->
        <h3>Неделя 3: Платформы публикации и аналитика (10 часов)</h3>
        <ul>
          <li>Работа с CMS: WordPress, Medium.</li>
          <li>Контент-маркетинг: стратегии распространения.</li>
          <li>Аналитика контента: Google Analytics.</li>
        </ul>
        
        <!-- Week 4 -->
        <h3>Неделя 4: Брендинг и личный бренд (10 часов)</h3>
        <ul>
          <li>Стратегия брендинга: влияние бренда на контент.</li>
          <li>Разработка личного бренда копирайтера.</li>
          <li>Подготовка портфолио для будущих работодателей.</li>
        </ul>
        
        <!-- Career Development -->
        <h3>Пути развития и прохождение собеседований</h3>
        <ul>
          <li>Составление резюме и сопроводительных писем.</li>
          <li>Тренировка навыков прохождения собеседований.</li>
          <li>Поиск работы: LinkedIn, Upwork, нетворкинг.</li>
        </ul>
        
        <p class="mt-4">По завершении курса ты станешь настоящим мастером слова, способным создавать контент, который не только привлекает внимание, но и действует на аудиторию, превращая читателей в клиентов. Твое понимание SEO и аналитики позволит тебе создавать материалы, высоко оцениваемые поисковыми системами. А твое портфолио и уверенность в собеседованиях откроют перед тобой двери в мир профессионального копирайтинга.</p>
      </div>
    </div>
  </div>
</div>
